
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap");

@layer base {
  :root {
    --background: 228 16% 9%;     /* #161A23 */
    --foreground: 0 0% 100%;

    --card: 228 16% 13%;          /* #262A39 */
    --card-foreground: 0 0% 100%;

    --popover: 228 16% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 289 88% 72%;       /* #E879F9 */
    --primary-foreground: 50 97% 80%; /* #FDE68A */

    --secondary: 159 76% 57%;     /* #38E69A */
    --secondary-foreground: 228 16% 9%;

    --muted: 207 13% 21%;
    --muted-foreground: 260 9% 60%;

    --accent: 339 70% 80%;
    --accent-foreground: 228 16% 9%;

    --destructive: 340 82% 52%;
    --destructive-foreground: 0 0% 100%;

    --border: 238 16% 23%;
    --input: 238 16% 23%;
    --ring: 261 88% 72%;

    --radius: 1.5rem;
  }

  body {
    @apply bg-background text-foreground font-rounded;
  }
}
